:root{
    --true: #538D4E;
    --wrong: #B59F3B;
    --empty: #3a3a3c;
    --default:#121213;
}


html,
body{
    background-color: var(--default);
}

#oyun{
    display: grid;
    width: 100%;
<<<<<<< HEAD
    height: 600px;
=======
    height: 550px;
>>>>>>> 67027a9 (görsel düzenlemeler)
    place-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(6, auto);
    
}

.kutu{
    width: 60px;
    height: 60px;
    border: 1px solid var(--empty);
    margin: 5px;
    color: #fff;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    
}

.kutu.bos{
    background-color: var(--empty);
}

.kutu.yanlis{
    background-color: var(--wrong);
}

.kutu.dogru{
    background-color: var(--true);
}


p a{
    text-decoration: none;
    color:bisque;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:ghostwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

.baslik{
    color:#538D4E;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    height: 60px;
}

.mesaj{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    text-align: center;
    height: 20px;
    color: whitesmoke;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    background-color: rgb(104, 104, 255);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.delete,
.enter {
    font-size: 1rem;
    text-transform: capitalize;
}
.delete { width: 100px; }
.enter { width: 70px; }

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


.upper { text-transform: uppercase; }


@media only screen and (max-width: 600px) {
    .kutu{
        width: 50px;
<<<<<<< HEAD
        height: 50px;
    }
    #oyun{
        height:450px;
=======
        height: 60px;
        font-size: 2.2rem;
    }

    #oyun{
        height: 450px;
    }

    .mesaj{
        padding-bottom: 10px;
>>>>>>> 67027a9 (görsel düzenlemeler)
    }
    button{
<<<<<<< HEAD
        width: 24px;
        height: 54px;
=======
        width: 30px;
        height: 40px;
>>>>>>> 67027a9 (görsel düzenlemeler)
        margin: 2px;
        
        font-size: 20px;
        padding: 0px;
    }

    .delete,.enter{
        width: 30px;
       
    }
    .enter{
        font-size: 10px;
    }
  }
